p{
    text-align:center;
    font-size:120px;
}    
    
    
    

body{
    
    background-image: url(../images/orderedsuccessfully.jpeg);
    
    
    background-size:contain;
    background-repeat: no repeat;
    background-size:cover;
    background-position:center;
    

}