p{
    text-align:center;
    font-size: xx-large;
}    
    
    
    

body{
    background-image: url("../images/payment.png");
    
    
    background-size:contain;
    background-repeat: no repeat;
    background-size:cover;
    background-position:center;
    
    

}